body {
    background-color: yellow;
}

#first-id {
    color: orange;
}

.blue {
    background-color: blue;
}

span {
    font-size: 40px;
    font-weight: 800;
}

h2 {
    font-family: 'Dancing Script', cursive;
}

p {
    font-family: 'Ubuntu', sans-serif;
}